<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
	    <add key="servicestack:license" value="3700-e1JlZjozNzAwLE5hbWU6QkYgUkVJUyBJTkZPUk1BVElDQSBMVERBLFR5cGU6VGV4dEluZGllLEhhc2g6ZGpWVWFTUHE3WDNtcTJDVGtxdS9sRyswZFd5RWI1Tm1jYjNqRzlhUDdubEtIVHY2MU5uZ3gwaDFkVTM0RlVNVGlFU1FyTFBnQ21YWVByd3ZFVnlIMko3ZE9MekthSE5oSFpLWURsZFdCb0ZNQjJqL1l0YkNoempOVzYvcFh6UEJtWjE3WkM0bU02dmt6UUp1L1BpbEVmMkhndXc5QmJSL3dqaHhpTjV6K09rPSxFeHBpcnk6MjAxNy0wNC0xM30=" />
	</appSettings>
</configuration>
